dash==2.18.2
dash_bootstrap_components==2.0.3
Flask==3.1.1
matplotlib==3.1.2
numpy==1.17.4
pandas==2.3.1
Pillow==7.0.0
Pillow==11.3.0
plotly==6.0.0
PyYAML==6.0.2
PyYAML==6.0.2
rl_path_following_project==0.1.0
rospkg==1.6.0
rospkg_modules==1.6.0
rospy==1.17.4
scipy==1.16.1
sensor_msgs==1.13.2
setuptools==45.2.0
tf==1.13.4
tf2_geometry_msgs==0.7.10
tf2_ros==0.7.10
torch==2.2.2+cu121
