<launch>
  <!-- ================== THÔNG TIN CHUNG ================== -->
    <arg name="package_name" default="mir_control" />

    <!-- ================== NODE CUNG CẤP ĐƯỜNG ĐI ================== -->
    <arg name="map_frame" default="map" />
    <node name="observation_node_1" 
          pkg="$(arg package_name)"
          type="observation_calculator_node"
          output="screen">
        <param name="robot_name" value="robot1" />
    </node>
    <node name="observation_node_2" 
          pkg="$(arg package_name)"
          type="observation_calculator_node"
          output="screen">
        <param name="robot_name" value="robot2" />
    </node>
    <node name="observation_node_3" 
          pkg="$(arg package_name)"
          type="observation_calculator_node"
          output="screen">
        <param name="robot_name" value="robot3" />
    </node>
    <node name="path_provider_server_node"
          pkg="$(arg package_name)"
          type="path_provider_node.py"
          output="screen">
        <param name="map_frame" value="$(arg map_frame)" />
        <param name="path_library_path" value="$(find mir_control)/data/path_library.json" />
    </node>
    <!-- <node name = "path_broad_path" pkg="$(arg package_name)" type="path_broadcaster.py" output ="screen"/> -->

  <!-- Node 2: train script -->
  <node name="trainer_node" pkg="mir_control" type="run_training.py"
        output="screen" cwd="node">
    <param name="use_sim_time" value="true" />
  </node>
</launch>
